.date-item{
	background-color: transparent;
	background-image: url('../assets/img/date-btn.png')!important;
	background-size: 95% 90%;
	background-repeat: no-repeat;
	color: white;
	left: 2.5%;

}

.time-item{
	background-color: transparent;
	background-image: url('../assets/img/time-btn.png')!important;
	background-size: 95% 90%;
	background-repeat: no-repeat;
	color: white;
	left: 2.5%;

}