<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding class="main-wrapper bg-login">
 <img  src="assets/img/logo-hm.png" style="height: 15vh; width: 35vh; margin-top: 20%;">
 <form (ngSubmit)="register()" class="main-wrapper" [formGroup]="form">
  <div style="margin-top: 20%; margin-bottom: 15%;"> 
<!--     <ion-item no-lines class="ion-item" >
      <ion-label style="color: white; font-size: 3vh;" floating >Name</ion-label>
      <ion-input style="color: white; font-size: 3vh;" type="text" name="name" clearInput="true"></ion-input>
    </ion-item> -->

    <ion-item no-lines class="ion-item">
      <ion-label style="color: white; font-size: 3vh;" floating >Email</ion-label>
      <ion-input style="color: white; font-size: 3vh;" type="email"  formControlName="email" clearInput="true"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email" >
        <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)" style="color: red; font-size: 2.5vh;">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item no-lines class="ion-item">
      <ion-label style="color: white; font-size: 3vh;" floating>Password</ion-label>
      <ion-input style="color: white; font-size: 3vh;" type="password"  formControlName="pass" clearInput="true"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.pass" >
        <div class="error-message" *ngIf="form.get('pass').hasError(validation.type) && (form.get('pass').dirty || form.get('pass').touched)" style="color: red; font-size: 2.5vh;">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item no-lines  class="ion-item">
      <ion-label style="color: white; font-size: 3vh;" floating>Confirm Password</ion-label>
      <ion-input style="color: white; font-size: 3vh;" type="password"  formControlName="passconfirm" clearInput="true"></ion-input>
    </ion-item>
       <div class="validation-errors">
      <ng-container>
        <div class="error-message" *ngIf="form.get('passconfirm').errors?.notEquivalent" style="color: red; font-size: 2.5vh;">
           New password and Confirm password did not match
        </div>
      </ng-container>
    </div>
  </div> 
  
  <input type="image" value="submit" src="../assets/img/register-btn.png" style="width : 30vh ; height :6vh" alt="submit Button" >
  <img src="../assets/img/login-btn.png" style="width : 30vh ; height :6vh" (click)="navCtrl.pop()" >
    <!-- <button ion-button block type="submit">Register</button>
      <button ion-button block type="button" outline (click)="navCtrl.pop()">Login</button> -->
    
    </form>
  </ion-content> 
