<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Hyper
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!--   <h1 text-center>Ionic login starter</h1> -->

  <button ion-button round  type="button" (click)="takePicture()">Take Photo</button>
  <button ion-button round  type="button" (click)="accessGallery()">Choose Photo</button>
  <ion-item class="myCustomSelect">
  <ion-label>BP Machine Model</ion-label>
  <ion-select  [(ngModel)]="machine_model">
    <ion-option text-wrap value="OmronHEM-7113">Omron HEM-7113</ion-option>
    <ion-option text-wrap  value="IhealthWristWirelessTensiometer">Ihealth Wrist Wireless Tensiometer</ion-option>
  </ion-select>
</ion-item>
  <img [src]="base64Image" *ngIf="base64Image" />
 <ion-col style="text-align: center">
  	<button  ion-button round large type="button" (click)="goToImgEdit()">OK</button>
 </ion-col>
</ion-content>
*ngIf="base64Image"